.calculator-settings {
	padding-top: 20px;
	text-align: center;
	height: 200px;
	background-color: #414141;
}

.calculator-text {
	margin-top: 30px;
	color: #C4C4C4;
	font-weight: bold;
	text-align: center;
	font-size: 36px;
}

.answer_section_container {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.answer_container {
	padding-top: 40px;
	width: 100%;
	background-color: #C4C4C4;
	border-radius: 40px;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 40px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	
	color: #212121;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

.answer_container label {
	color: #212121;
	font-family: 'Arial', sans-serif;
	text-align: center;
	padding: 14px 16px;
}

.answer_container p {
	color: #212121;
	font-family: 'Arial', sans-serif;
	text-align: left;
	padding: 14px 16px;
}

.answer_container .selector {
	font-family: 'Arial', sans-serif;
	background-color: #EEEEEE;
	border-radius: 40px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 30px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.answer {
	margin-left: 40px;
	background-color: #D5D5D5;
	border-radius: 20px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	margin-top: 40px;
	font-size: 20px;
}

.answer-item {
	margin-left: 80px;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 16px;
}

.answer_sub {
	margin-left: 80px;
	background-color: #CACACA;
	border-radius: 20px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	margin-top: 10px;
	font-size: 20px;
}

.answer-item_sub {
	margin-left: 120px;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	font-size: 16px;
}

.head label {
	color: #C4C4C4;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	font-size: 20px;
}

input {
	padding: 10px;
	margin: 10px 0;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	border-radius: 5px;
	font-size: 16px;
}

input[type=text] {
	width:65%;
	background-color: #AAAAAA;
}

input[type=button] {
	color: #C4C4C4;
	background-color: #505585;
}

table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse; 
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td{
	padding: 5px 10px;
	border: 1px solid #eee;
	text-align: left;
}
table tbody tr:nth-child(odd){
	background: #CACACA;
}
table tbody tr:nth-child(even){
	background: #D5D5D5;
}

@media screen and (max-width: 768px) {
	header .head.responsive {
		position: relative;
	}
	
	input[type=text] {
		width:40%;
	}
	
	.calculator-text {
		font-size: 30px;
	}
	
	.answer_container .selector {
		font-size: 25px;
	}
	
	.answer {
		font-size: 16px;
		margin-left: 20px;
	}

	.answer-item {
		font-size: 12px;
		margin-left: 40px;
	}
	
	.answer_sub {
		font-size: 12px;
		margin-left: 40px;
	}
	
	.answer-item_sub {
		margin-left: 60px;
		font-size: 12px;
	}
}

@media (max-width: 350px) {
	
	input[type=text] {
		width:25%;
	}
	
	.answer_container .selector {
		font-size: 14px;
	}
	
	.calculator-text {
		font-size: 20px;
	}
	
	.answer {
		font-size: 12px;
	}

	.answer-item {
		font-size: 10px;
	}
	
	.answer_sub {
		font-size: 10px;
	}
	
	.answer-item_sub {
		font-size: 10px;
	}
}