* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

li {
	text-decoration: none;
	list-style: none;
}

body{
	font-family: 'Raleway', sans-serif;
	background-color: #404040;
}

nav {
	margin: auto;
	padding-top: 20px;
	width: 100%;
	text-align: center;
	height: 50px;
}

header .site_menu {
	background-color: #363636;
}

.site_menu a {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	font-size: 16px;
}

header .site_menu a:hover {
	border-bottom: 4px solid #FFFFFF;
}

.site_menu a.icon {
	display: none;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1140px;
}

.calculator-settings {
	padding-top: 20px;
	height: 150px;
}

.calculator-text {
	color: #C4C4C4;
	font-weight: bold;
	text-align: center;
	font-size: 36px;
}

footer {
	height: auto;
	margin: 0 auto;
	background-color: #212121;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFFFFF;
}

footer .site_menu a {
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	font-size: 14px;
}

footer .site_menu a:hover {
	border-bottom: 1px solid #FFFFFF;
}

.answer_section_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.back {
	padding-top: 25px;
	width: 100%;
	min-height: 500px;
	background-color: #C4C4C4;
	border-radius: 40px;
	margin-bottom: 40px;
	padding-left: 40px;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	
	color: #212121;
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

.answer-item {
	padding-left: 40px;
}

.cop {
	padding-top: 25px;
}

header .head {
	background-color: #363636;
}

.head label {
	color: #C4C4C4;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	font-size: 20px;
}

input {
	padding: 10px;
	margin: 10px 0;
	border: 0;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	border-radius: 5px;
	font-size: 16px;
}

input[type=text] {
	width:65%;
	background-color: #AAAAAA;
}

input[type=button] {
	color: #C4C4C4;
	background-color: #505585;
}

@media screen and (min-width: 768px) {
	header nav {
		background-color: #363636;
		padding-top: 20px;
	}
}

@media screen and (max-width: 768px) {
	nav {
		width: 100%;
		height: 100%;
		background-color: #303030;
		padding-top: 0px;
	}
	header .head.responsive {
		position: relative;
	}
	
	input[type=text] {
		width:40%;
	}
	
	header .site_menu a {
		display: none;
	}
	header .site_menu a.icon {
		float: right;
		margin-top: -10px;
		display: block;
		color: #FFFFFF;
	}
	nav {
		width: 100%;
		height: 100%;
		background-color: #303030;
		padding-top: 0px;
	}
	header .site_menu.responsive {
		position: relative;
	}
	header .site_menu.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	header .site_menu.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
}